name: Check buck targets and code format
on:
  pull_request:
    types: [ synchronize, opened, reopened ]
    branches:
      - main
permissions:
  contents: read

jobs:
  check:
    name: Check TARGETS file and code format
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: Install Dependencies
      run: python -m pip install --upgrade pip
    - name: Install argparse
      run: pip install argparse
    - name: Clone rocksdb
      run: |
        git clone --depth 1 --branch v8.5.3 https://github.com/facebook/rocksdb.git
      shell: bash
    - uses: actions/checkout@v4
      with:
        # Relative path under $GITHUB_WORKSPACE to place the repository
        path: rocksdb/plugin/encfs
    - name: Fetch from upstream
      working-directory: /home/runner/work/encfs/encfs/rocksdb/plugin/encfs
      run: |
        git remote add upstream https://github.com/acelyc111/encfs.git && git fetch upstream
    - name: Download clang-format-diff.py
      working-directory: /home/runner/work/encfs/encfs/rocksdb/plugin/encfs
      run: wget https://raw.githubusercontent.com/llvm/llvm-project/release/12.x/clang/tools/clang-format/clang-format-diff.py
    - name: Check format
      working-directory: /home/runner/work/encfs/encfs/rocksdb/plugin/encfs
      run: output=$(git diff upstream/main -- | python3 clang-format-diff.py -p 1); if [ "$output" ]; then echo "${output}"; exit 1; else exit 0; fi
      shell: bash
